@import './base.css';

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 2px 2px 5px black;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

b {
  font-weight: bold !important;
}

.clickable {
  cursor: pointer;
}

.zoomable {
  cursor: zoom-in;
}

h3 {
  border-bottom: solid 2px grey;
}

.lists-table {
  width: 100%;
  border: solid 2px #dddddd;
  background-color: #eeeeee;
}

.lists-table .clickable:hover {
  background-color: #dddddd;
}

.lists-table th {
  font-weight: bold;
  background-color: var(--color-button);
  color: white;
}

.lists-table th,
.lists-table td {
  border: #dddddd solid 1px;
  padding-left: 8px;
  padding-right: 8px;
}

.lists-table td {
  font-size: .9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.input-cell {
  min-width: 200px;
  padding: 0;
}

td.no-wrap {
  min-width: 120px;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {
  text-align: center;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: darkgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
  border: 3px solid grey;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
